.line{
    height:6px;
    background-color: black;
    width:70px;
    margin:6px auto;

}
body{
    text-align: center;
}
#carousel{
    background-color:bisque;
}
#carousel img{
    height: 300px;
    margin-top: 30px;

}
#carousel h3{
    color:black;
    margin-top: 10px;
    
}